In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

# 데이터 확인

In [2]:
df = pd.read_csv('./data/train_transaction.csv')
test = pd.read_csv('./data/test_transaction.csv')

In [3]:
test

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,3663549,18403224,31.950,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.000,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.000,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,284.950,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.950,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3664544,18462411,39.839,C,6019,583.0,150.0,visa,226.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,3664545,18462415,49.000,W,5556,483.0,150.0,mastercard,195.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,3664546,18462434,209.950,W,17188,321.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,3664547,18462438,209.950,W,18178,598.0,150.0,mastercard,224.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,3664548,18462501,99.960,W,15651,417.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,C14,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,2987000,0,86400,68.500,W,13926,NaN,150.0,discover,142.0,...,1.0,T,T,T,M2,F,T,NaN,NaN,NaN
1,2987001,0,86401,29.000,W,2755,404.0,150.0,mastercard,102.0,...,1.0,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
2,2987002,0,86469,59.000,W,4663,490.0,150.0,visa,166.0,...,1.0,T,T,T,M0,F,F,F,F,F
3,2987003,0,86499,50.000,W,18132,567.0,150.0,mastercard,117.0,...,1.0,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3086995,0,2005989,55.385,C,2256,545.0,185.0,visa,226.0,...,1.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
99996,3086996,0,2006074,117.000,W,2518,555.0,150.0,visa,226.0,...,2.0,NaN,NaN,NaN,M0,F,F,NaN,NaN,NaN
99997,3086997,0,2006135,50.000,S,2748,111.0,150.0,visa,228.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,3086998,0,2006177,100.000,H,16075,514.0,150.0,mastercard,102.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,3086999,0,2006364,107.950,W,4436,174.0,150.0,visa,226.0,...,110.0,T,T,T,NaN,NaN,T,NaN,NaN,NaN

In [5]:
df.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       'P_emaildomain', 'R_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6',
       'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'M1', 'M2', 'M3',
       'M4', 'M5', 'M6', 'M7', 'M8', 'M9'],
      dtype='object')

In [6]:
# 불필요한 변수라 판단하여 삭제
df.drop(['TransactionID', 'TransactionDT'], axis = 1, inplace = True)

# EDA & 데이터 전처리

## 탐색

In [7]:
df.head()

,isFraud,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,P_emaildomain,...,C14,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,0,68.5,W,13926,NaN,150.0,discover,142.0,credit,NaN,...,1.0,T,T,T,M2,F,T,NaN,NaN,NaN
1,0,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,gmail.com,...,1.0,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
2,0,59.0,W,4663,490.0,150.0,visa,166.0,debit,outlook.com,...,1.0,T,T,T,M0,F,F,F,F,F
3,0,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,yahoo.com,...,1.0,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,0,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,gmail.com,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 라벨 탐색 - 클래스 불균형

In [10]:
# 97.4%의 클래스 불균형을 가진다.
print(df['isFraud'].value_counts()), print(df['isFraud'].value_counts(normalize=True))

0    97439
1     2561
Name: isFraud, dtype: int64
0    0.97439
1    0.02561
Name: isFraud, dtype: float64

(None, None)

### 특징별 상태 공간 확인

In [14]:
for col in df.columns:
    print(f'---변수 : {col} ---------------------------------------------------------------------')
    print("타입: {}, 결측 개수: {}, 상태공간 크기: {}, 상태공간 일부: {}".format(df[col].dtype, df[col].isnull().sum(), len(df[col].unique()), df[col].unique()))

---변수 : isFraud ---------------------------------------------------------------------
타입: int64, 결측 개수: 0, 상태공간 크기: 2, 상태공간 일부: [0 1]
---변수 : TransactionAmt ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 6387, 상태공간 일부: [ 68.5    29.     59.    ... 138.288 136.364  28.858]
---변수 : ProductCD ---------------------------------------------------------------------
타입: object, 결측 개수: 0, 상태공간 크기: 5, 상태공간 일부: ['W' 'H' 'C' 'S' 'R']
---변수 : card1 ---------------------------------------------------------------------
타입: int64, 결측 개수: 0, 상태공간 크기: 7677, 상태공간 일부: [13926  2755  4663 ... 14801  2055 12478]
---변수 : card2 ---------------------------------------------------------------------
타입: float64, 결측 개수: 1354, 상태공간 크기: 500, 상태공간 일부: [ nan 404. 490. 567. 514. 555. 360. 100. 111. 352. 375. 418. 303. 314.
 543. 583. 148. 321. 269. 361. 272. 399. 569. 453. 417. 512. 545. 266.
 114. 481. 452. 547. 383. 170. 343. 556. 285. 562. 302. 264. 558. 500.
 396. 103. 206. 143. 243. 476. 199. 174. 423. 446. 492. 523. 440. 528.
 161. 535. 354. 117. 455. 325. 158. 268. 122. 479. 147. 215. 480. 265.
 388. 408. 309. 415. 414. 437. 104. 225. 101. 134. 586. 191. 491. 369.
 322. 494. 532. 313. 474. 324. 475. 298. 429. 432. 553. 566. 599. 296.
 251. 310. 242. 204. 250. 270. 346. 316. 194. 587. 390. 135. 536. 254.
 226. 327. 420. 260. 413. 428. 561. 387. 411. 392. 203. 297. 136. 276.
 142. 527. 210. 184. 459. 118. 585. 106. 588. 449. 176. 177. 246. 439.
 503. 445. 172. 468. 239. 496. 364. 533. 370. 578. 150. 458. 365. 359.
 509. 202. 584. 258. 442. 530. 489. 529. 504. 356. 123. 205. 130. 382.
 155. 105. 422. 345. 257. 171. 559. 271. 554. 127. 236. 548. 454. 373.
 275. 286. 308. 517. 294. 145. 565. 245. 513. 520. 133. 162. 163. 216.
 550. 355. 180. 393. 391. 462. 435. 460. 444. 333. 595. 443. 507. 551.
 572. 110. 470. 472. 102. 144. 300. 400. 478. 198. 600. 167. 350. 320.
 579. 113. 560. 389. 431. 589. 592. 336. 295. 515. 108. 385. 281. 231.
 339. 128. 367. 301. 280. 510. 426. 357. 593. 467. 262. 160. 315. 571.
 394. 166. 304. 485. 376. 448. 537. 247. 594. 461. 181. 581. 542. 582.
 499. 287. 519. 381. 424. 214. 525. 332. 311. 340. 368. 168. 183. 371.
 516. 342. 112. 278. 115. 384. 229. 234. 374. 291. 596. 165. 539. 409.
 318. 126. 568. 549. 146. 152. 253. 347. 290. 348. 240. 201. 307. 283.
 222. 248. 464. 534. 299. 450. 218. 192. 255. 197. 341. 330. 570. 501.
 574. 200. 219. 337. 372. 317. 433. 505. 477. 159. 284. 552. 502. 405.
 563. 306. 193. 140. 334. 540. 169. 487. 353. 141. 109. 386. 471. 208.
 524. 116. 209. 416. 132. 157. 182. 154. 434. 395. 398. 220. 484. 282.
 511. 277. 173. 402. 274. 178. 237. 305. 427. 252. 196. 463. 244. 149.
 531. 238. 573. 338. 493. 412. 380. 473. 153. 575. 190. 495. 289. 465.
 541. 362. 119. 235. 164. 131. 598. 151. 441. 217. 436. 228. 139. 259.
 189. 379. 263. 188. 508. 233. 256. 344. 328. 438. 249. 323. 213. 366.
 273. 377. 577. 521. 564. 358. 544. 288. 279. 241. 267. 497. 456. 351.
 221. 211. 227. 121. 230. 498. 466. 425. 506. 335. 597. 469. 486. 401.
 488. 421. 406. 224. 124. 195. 129. 363. 292. 175. 590. 430. 319. 212.
 331. 329. 483. 349. 457. 518. 538. 261. 410. 232. 403. 419. 397. 591.
 137. 447. 156. 378. 138. 407. 207. 185. 125. 451. 293. 186. 120. 482.
 326. 179. 576. 580. 546. 522. 526. 187. 223. 557.]
---변수 : card3 ---------------------------------------------------------------------
타입: float64, 결측 개수: 3, 상태공간 크기: 75, 상태공간 일부: [150. 117. 185. 143. 144. 163. 146. 191. 162. 119. 147. 100. 135. 137.
 138. 102. 213. 106. 214. 148. 210. 203. 194. 141. 225.  nan 188. 193.
 208. 133. 223. 134. 153. 131. 200. 149. 116. 222. 220. 197. 129. 206.
 195. 204. 127. 142. 111. 159. 118. 229. 217. 212. 227. 166. 189. 120.
 171. 190. 105. 130. 170. 180. 177. 132. 109. 198. 121. 183. 215. 156.
 207. 186. 167. 152. 199.]
---변수 : card4 ---------------------------------------------------------------------
타입: object, 결측 개수: 7, 상태공간 크기: 5, 상태공간 일부: ['discover' 'mastercard' 'visa' 'american express' nan]
---변수 : card5 ---------------------------------------------------------------------
타입: float64, 결측 개수: 525, 상태공간 크기: 88, 상태공간 일부: [142. 102. 166. 117. 226. 224. 134. 219. 137. 195. 138. 100. 147. 162.
 202. 118. 150. 183. 171. 236. 197. 133. 223. 149. 228. 229.  nan 198.
 182. 126. 185. 190. 131. 144. 141. 215. 203. 237. 132. 143. 146. 140.
 129. 199. 194. 213. 111. 169. 177. 173. 156. 119. 135. 107. 232. 188.
 159. 127. 148. 139. 104. 210. 180. 207. 204. 212. 106. 152. 222. 187.
 200. 214. 189. 181. 206. 225. 157. 121. 217. 184. 167. 113. 136. 120.
 201. 211. 122. 164.]
---변수 : card6 ---------------------------------------------------------------------
타입: object, 결측 개수: 4, 상태공간 크기: 5, 상태공간 일부: ['credit' 'debit' nan 'debit or credit' 'charge card']
---변수 : P_emaildomain ---------------------------------------------------------------------
타입: object, 결측 개수: 15393, 상태공간 크기: 60, 상태공간 일부: [nan 'gmail.com' 'outlook.com' 'yahoo.com' 'mail.com' 'anonymous.com'
 'hotmail.com' 'verizon.net' 'aol.com' 'me.com' 'comcast.net'
 'optonline.net' 'cox.net' 'charter.net' 'rocketmail.com' 'prodigy.net.mx'
 'embarqmail.com' 'icloud.com' 'live.com.mx' 'gmail' 'live.com' 'att.net'
 'juno.com' 'ymail.com' 'sbcglobal.net' 'bellsouth.net' 'msn.com' 'q.com'
 'yahoo.com.mx' 'centurylink.net' 'servicios-ta.com' 'earthlink.net'
 'hotmail.es' 'cfl.rr.com' 'roadrunner.com' 'netzero.net' 'gmx.de'
 'suddenlink.net' 'frontiernet.net' 'windstream.net' 'frontier.com'
 'outlook.es' 'mac.com' 'netzero.com' 'aim.com' 'web.de' 'twc.com'
 'cableone.net' 'yahoo.fr' 'yahoo.de' 'yahoo.es' 'sc.rr.com' 'ptd.net'
 'live.fr' 'yahoo.co.uk' 'hotmail.fr' 'hotmail.de' 'hotmail.co.uk'
 'protonmail.com' 'yahoo.co.jp']
---변수 : R_emaildomain ---------------------------------------------------------------------
타입: object, 결측 개수: 65454, 상태공간 크기: 61, 상태공간 일부: [nan 'gmail.com' 'hotmail.com' 'outlook.com' 'anonymous.com' 'charter.net'
 'prodigy.net.mx' 'comcast.net' 'live.com.mx' 'icloud.com' 'yahoo.com'
 'aol.com' 'juno.com' 'att.net' 'verizon.net' 'yahoo.com.mx'
 'bellsouth.net' 'servicios-ta.com' 'ymail.com' 'hotmail.es' 'msn.com'
 'optonline.net' 'live.com' 'gmx.de' 'aim.com' 'mail.com' 'me.com'
 'outlook.es' 'cox.net' 'earthlink.net' 'embarqmail.com' 'web.de'
 'sbcglobal.net' 'scranton.edu' 'mac.com' 'twc.com' 'roadrunner.com'
 'yahoo.fr' 'yahoo.de' 'yahoo.es' 'frontiernet.net' 'gmail' 'live.fr'
 'q.com' 'yahoo.co.uk' 'windstream.net' 'suddenlink.net' 'hotmail.fr'
 'ptd.net' 'hotmail.de' 'frontier.com' 'cfl.rr.com' 'hotmail.co.uk'
 'netzero.com' 'netzero.net' 'yahoo.co.jp' 'rocketmail.com'
 'centurylink.net' 'protonmail.com' 'cableone.net' 'sc.rr.com']
---변수 : C1 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1468, 상태공간 일부: [1.000e+00 2.000e+00 4.000e+00 ... 2.460e+02 1.192e+03 3.130e+02]
---변수 : C2 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 894, 상태공간 일부: [1.000e+00 5.000e+00 2.000e+00 4.000e+00 1.200e+02 8.600e+01 1.450e+02
 6.000e+00 1.100e+01 2.080e+02 3.000e+00 1.530e+02 2.500e+01 7.000e+00
 1.600e+01 2.000e+01 1.300e+01 1.830e+02 4.400e+01 9.000e+00 1.110e+02
 7.200e+01 0.000e+00 8.000e+00 1.650e+02 1.310e+02 1.000e+01 1.420e+02
 1.000e+02 1.200e+01 1.730e+02 1.800e+01 1.170e+02 2.400e+01 5.700e+01
 6.500e+01 5.800e+01 5.900e+01 1.630e+02 6.000e+01 1.400e+01 1.230e+02
 1.500e+01 1.040e+02 3.600e+01 2.900e+01 1.240e+02 9.000e+01 4.300e+01
 8.500e+01 1.700e+01 1.060e+02 1.720e+02 4.000e+01 1.320e+02 2.170e+02
 8.000e+01 5.200e+01 1.090e+02 1.150e+02 1.190e+02 9.500e+01 4.600e+01
 1.070e+02 9.400e+01 8.400e+01 1.900e+01 1.130e+02 1.080e+02 1.520e+02
 6.400e+01 1.250e+02 1.590e+02 8.300e+01 1.030e+02 1.290e+02 1.300e+02
 8.030e+02 8.040e+02 7.500e+01 8.050e+02 1.280e+02 2.700e+02 8.800e+01
 1.490e+02 1.220e+02 9.600e+01 2.300e+01 1.010e+02 3.400e+01 1.180e+02
 8.080e+02 8.700e+01 1.380e+02 5.300e+01 2.700e+01 8.900e+01 7.600e+01
 7.900e+01 7.400e+01 1.900e+02 1.750e+02 9.900e+01 1.860e+02 1.700e+02
 8.070e+02 4.500e+01 1.360e+02 1.270e+02 3.000e+01 1.260e+02 1.120e+02
 6.900e+01 3.500e+01 1.020e+02 7.300e+01 2.800e+01 1.460e+02 1.430e+02
 6.600e+01 1.470e+02 9.800e+01 2.160e+02 2.100e+01 1.370e+02 9.700e+01
 1.540e+02 1.340e+02 2.200e+01 2.240e+02 2.260e+02 3.700e+01 1.640e+02
 3.800e+01 6.300e+01 1.710e+02 1.160e+02 1.210e+02 3.900e+01 5.100e+01
 1.550e+02 2.190e+02 1.760e+02 2.090e+02 1.660e+02 1.410e+02 3.100e+01
 9.300e+01 2.600e+01 1.740e+02 1.510e+02 1.480e+02 7.000e+01 1.350e+02
 9.200e+01 1.440e+02 1.500e+02 1.050e+02 1.680e+02 1.940e+02 1.580e+02
 1.100e+02 2.300e+02 1.570e+02 4.200e+01 3.300e+01 2.330e+02 7.700e+01
 8.200e+01 8.100e+01 8.160e+02 2.370e+02 8.170e+02 1.670e+02 2.100e+02
 1.560e+02 4.800e+01 1.140e+02 3.200e+01 1.330e+02 1.850e+02 2.500e+02
 1.620e+02 2.230e+02 7.100e+01 1.770e+02 2.110e+02 6.700e+01 1.840e+02
 6.800e+01 2.140e+02 8.180e+02 1.980e+02 8.190e+02 1.800e+02 2.310e+02
 6.200e+01 2.020e+02 8.220e+02 2.280e+02 3.430e+02 2.060e+02 9.100e+01
 2.480e+02 4.100e+01 6.100e+01 1.780e+02 1.790e+02 5.400e+01 1.600e+02
 5.000e+01 1.990e+02 2.250e+02 2.290e+02 8.230e+02 4.900e+01 2.220e+02
 2.150e+02 1.960e+02 1.390e+02 2.400e+02 4.700e+01 2.130e+02 1.910e+02
 1.810e+02 7.800e+01 1.920e+02 1.610e+02 2.360e+02 8.240e+02 8.250e+02
 1.400e+02 2.600e+02 2.450e+02 2.000e+02 2.270e+02 8.210e+02 1.970e+02
 3.080e+02 3.600e+02 3.700e+02 3.730e+02 5.410e+02 5.740e+02 5.800e+02
 5.960e+02 6.000e+02 6.010e+02 6.030e+02 6.090e+02 6.160e+02 6.210e+02
 6.280e+02 6.310e+02 6.330e+02 6.340e+02 6.360e+02 6.430e+02 6.440e+02
 6.450e+02 6.470e+02 6.520e+02 7.340e+02 7.350e+02 7.470e+02 7.480e+02
 7.510e+02 7.550e+02 7.570e+02 7.580e+02 7.620e+02 7.660e+02 7.690e+02
 7.760e+02 8.140e+02 8.260e+02 8.780e+02 9.020e+02 9.100e+02 9.150e+02
 9.180e+02 9.240e+02 9.250e+02 9.260e+02 9.290e+02 9.300e+02 9.320e+02
 2.340e+02 9.380e+02 9.390e+02 9.800e+02 9.810e+02 8.270e+02 9.840e+02
 9.910e+02 9.920e+02 1.004e+03 1.005e+03 1.006e+03 8.290e+02 1.016e+03
 1.035e+03 1.036e+03 2.430e+02 1.070e+03 1.083e+03 1.087e+03 1.088e+03
 5.600e+01 1.091e+03 1.174e+03 1.178e+03 8.300e+02 1.179e+03 1.180e+03
 1.187e+03 1.197e+03 1.198e+03 2.050e+02 1.199e+03 1.201e+03 1.205e+03
 1.206e+03 1.217e+03 1.220e+03 1.221e+03 1.222e+03 1.223e+03 1.890e+02
 1.225e+03 1.230e+03 1.276e+03 1.289e+03 2.040e+02 1.293e+03 1.299e+03
 1.301e+03 1.302e+03 1.316e+03 1.317e+03 1.321e+03 1.338e+03 1.342e+03
 1.343e+03 1.359e+03 1.362e+03 1.364e+03 1.394e+03 1.417e+03 1.425e+03
 1.426e+03 2.070e+02 1.430e+03 1.431e+03 1.440e+03 1.441e+03 1.442e+03
 1.880e+02 1.446e+03 1.447e+03 1.448e+03 1.449e+03 1.457e+03 1.481e+03
 2.680e+02 1.482e+03 1.489e+03 1.490e+03 1.491e+03 1.492e+03 1.493e+03
 1.511e+03 1.541e+03 1.542e+03 1.545e+03 1.546e+03 1.659e+03 1.660e+03
 1.661e+03 1.699e+03 1.709e+03 1.711e+03 1.713e+03 1.714e+03 1.716e+03
 1.717e+03 1.720e+03 1.724e+03 1.749e+03 1.796e+03 1.803e+03 1.804e+03
 1.810e+03 1.829e+03 1.834e+03 1.835e+03 1.857e+03 1.858e+03 1.889e+03
 1.890e+03 1.893e+03 2.010e+02 1.895e+03 1.899e+03 1.901e+03 1.904e+03
 8.320e+02 1.690e+02 1.915e+03 1.917e+03 8.360e+02 1.920e+03 1.921e+03
 1.870e+02 1.923e+03 1.925e+03 1.926e+03 8.370e+02 1.922e+03 1.924e+03
 8.390e+02 8.400e+02 1.991e+03 1.993e+03 1.997e+03 2.000e+03 2.001e+03
 2.007e+03 2.008e+03 1.820e+02 2.012e+03 2.015e+03 2.030e+02 8.420e+02
 8.430e+02 8.440e+02 2.020e+03 8.450e+02 2.019e+03 2.023e+03 5.500e+01
 2.022e+03 2.024e+03 2.043e+03 2.042e+03 2.041e+03 2.044e+03 2.046e+03
 2.050e+03 2.052e+03 2.058e+03 2.063e+03 2.420e+02 2.064e+03 2.078e+03
 2.080e+03 2.085e+03 2.087e+03 2.088e+03 2.115e+03 2.177e+03 2.178e+03
 8.460e+02 8.470e+02 2.187e+03 2.188e+03 8.480e+02 2.191e+03 2.192e+03
 8.490e+02 8.520e+02 2.194e+03 8.530e+02 2.225e+03 8.550e+02 2.226e+03
 8.560e+02 8.570e+02 2.232e+03 2.233e+03 2.259e+03 2.670e+02 8.580e+02
 2.271e+03 2.291e+03 2.295e+03 2.301e+03 2.304e+03 2.319e+03 2.320e+03
 2.322e+03 2.323e+03 2.460e+02 2.330e+03 8.590e+02 2.339e+03 2.340e+03
 2.341e+03 2.342e+03 2.120e+02 2.345e+03 2.346e+03 2.348e+03 2.350e+03
 2.349e+03 2.353e+03 2.356e+03 2.358e+03 2.376e+03 8.600e+02 2.377e+03
 2.690e+02 2.378e+03 8.640e+02 8.650e+02 8.660e+02 8.670e+02 8.680e+02
 8.690e+02 2.379e+03 2.380e+03 8.700e+02 2.384e+03 2.387e+03 2.389e+03
 2.390e+03 8.710e+02 2.415e+03 8.720e+02 2.416e+03 2.417e+03 2.465e+03
 2.511e+03 2.513e+03 2.523e+03 2.524e+03 2.525e+03 2.529e+03 1.950e+02
 2.530e+03 2.534e+03 2.535e+03 8.730e+02 2.538e+03 3.646e+03 3.650e+03
 3.652e+03 3.653e+03 2.840e+02 3.685e+03 3.686e+03 3.691e+03 3.695e+03
 3.696e+03 3.707e+03 3.710e+03 3.713e+03 3.715e+03 3.722e+03 3.736e+03
 3.738e+03 3.739e+03 2.860e+02 3.746e+03 3.747e+03 8.750e+02 3.748e+03
 3.749e+03 8.760e+02 3.755e+03 8.770e+02 8.790e+02 8.800e+02 3.758e+03
 3.760e+03 3.774e+03 3.776e+03 3.777e+03 3.782e+03 3.784e+03 3.785e+03
 3.869e+03 3.875e+03 3.876e+03 3.877e+03 3.880e+03 3.881e+03 3.890e+03
 3.893e+03 3.894e+03 3.903e+03 3.908e+03 3.911e+03 3.955e+03 3.957e+03
 3.986e+03 3.988e+03 3.992e+03 4.001e+03 4.009e+03 4.012e+03 4.011e+03
 4.010e+03 4.013e+03 4.023e+03 4.026e+03 4.027e+03 4.079e+03 4.080e+03
 4.081e+03 4.087e+03 4.090e+03 4.091e+03 8.810e+02 4.093e+03 4.094e+03
 4.095e+03 4.102e+03 4.106e+03 4.074e+03 4.078e+03 4.089e+03 4.100e+03
 4.109e+03 4.110e+03 4.129e+03 8.830e+02 8.840e+02 8.850e+02 4.131e+03
 8.860e+02 8.870e+02 4.180e+03 4.181e+03 4.184e+03 8.880e+02 8.890e+02
 4.257e+03 8.900e+02 4.258e+03 4.260e+03 4.386e+03 4.387e+03 4.388e+03
 5.011e+03 8.920e+02 5.010e+03 5.009e+03 5.017e+03 5.018e+03 5.054e+03
 5.089e+03 5.098e+03 8.930e+02 5.100e+03 5.101e+03 5.144e+03 5.175e+03
 8.940e+02 5.183e+03 5.185e+03 8.950e+02 5.191e+03 8.970e+02 5.197e+03
 5.200e+03 5.203e+03 5.204e+03 9.000e+02 5.210e+03 5.213e+03 5.214e+03
 5.223e+03 5.225e+03 5.289e+03 5.292e+03 9.090e+02 5.301e+03 9.110e+02
 5.302e+03 5.303e+03 5.307e+03 5.310e+03 5.311e+03 5.314e+03 5.315e+03
 5.383e+03 5.394e+03 5.416e+03 9.120e+02 5.598e+03 5.614e+03 5.616e+03
 5.620e+03 5.621e+03 5.625e+03 5.624e+03 5.690e+03 5.691e+03 9.130e+02
 9.140e+02 9.160e+02 9.170e+02 9.190e+02 9.200e+02 9.230e+02 2.850e+02
 9.280e+02 3.370e+02 1.051e+03 9.330e+02 9.360e+02 9.370e+02 1.048e+03
 3.380e+02 9.400e+02 9.440e+02 9.450e+02 9.460e+02 9.470e+02 3.390e+02
 3.400e+02 1.040e+03 1.041e+03 1.042e+03 1.043e+03 1.045e+03 1.046e+03
 1.047e+03 1.053e+03 1.054e+03 1.055e+03 1.056e+03 1.057e+03 1.058e+03
 1.059e+03 1.112e+03 1.113e+03 1.115e+03 1.116e+03 1.118e+03 1.119e+03
 1.120e+03 1.121e+03 5.720e+02 3.440e+02 3.450e+02 3.460e+02 2.870e+02
 3.470e+02 3.480e+02 3.490e+02 1.128e+03 1.129e+03 3.500e+02 3.510e+02
 3.520e+02 1.130e+03 1.131e+03 3.530e+02 3.540e+02 1.930e+02 1.134e+03
 3.550e+02 1.136e+03 1.137e+03 1.138e+03 1.139e+03 1.140e+03 1.141e+03
 1.142e+03 1.143e+03 1.144e+03 1.145e+03 1.146e+03 1.147e+03 1.148e+03
 1.149e+03 1.151e+03 1.152e+03 1.153e+03 1.155e+03 1.156e+03 1.157e+03
 3.570e+02 3.580e+02 3.590e+02 1.158e+03 1.161e+03 1.162e+03 1.164e+03
 1.165e+03 1.168e+03 1.169e+03 1.170e+03 1.173e+03 1.175e+03 1.176e+03
 2.890e+02 1.184e+03 1.185e+03 1.186e+03 1.193e+03 1.194e+03 1.195e+03
 1.196e+03 1.200e+03 1.202e+03 1.203e+03 1.204e+03 1.209e+03 2.610e+02
 1.210e+03 1.020e+03 1.021e+03 1.211e+03 1.213e+03 1.214e+03 1.215e+03
 1.216e+03 1.218e+03 1.219e+03 1.224e+03 1.226e+03 1.228e+03 1.229e+03
 1.231e+03 1.232e+03 3.640e+02 3.650e+02 1.233e+03 1.234e+03 3.670e+02
 3.690e+02 1.235e+03 3.710e+02 2.540e+02 1.237e+03 1.238e+03 1.239e+03
 2.900e+02 1.236e+03 6.170e+02 6.180e+02 1.240e+03 1.241e+03 1.242e+03
 1.243e+03 1.244e+03 1.245e+03 1.246e+03 1.249e+03 1.250e+03 1.252e+03
 1.253e+03 1.254e+03 1.255e+03 1.256e+03 1.257e+03 1.258e+03 1.259e+03
 1.260e+03 1.261e+03 1.262e+03 1.263e+03 1.265e+03 1.266e+03 1.267e+03
 1.268e+03 3.720e+02 1.269e+03 1.271e+03 1.272e+03 1.273e+03 1.274e+03
 1.275e+03 1.277e+03 1.278e+03 1.279e+03 1.280e+03 1.281e+03 1.283e+03
 1.284e+03 1.285e+03 1.290e+03 1.291e+03 1.295e+03 1.296e+03 1.297e+03
 1.298e+03 1.303e+03 1.304e+03 2.830e+02 1.305e+03]
---변수 : C3 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 8, 상태공간 일부: [ 0.  1.  8.  3.  2. 16.  4.  9.]
---변수 : C4 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1174, 상태공간 일부: [  0.   1.   2. ... 865.  41. 868.]
---변수 : C5 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 250, 상태공간 일부: [  0.   2.   1. 168.   3. 121. 142.   5.   6. 128. 118.  33.   4. 103.
   7.  10.  17.   8. 123. 111. 152. 137. 147. 116.  60.  11. 117.  88.
  72.  26.  56.  87. 134.  99.   9.  37.  38.  14.  15.  31. 130.  28.
 170. 208. 101.  62.  84.  96.  92. 136. 107.  32.  82.  97. 154.  19.
  90. 122. 140.  83. 105. 120.  80.  68. 206. 158. 135.  98. 213. 172.
  58.  12.  39.  69.  91. 110.  16.  57. 167.  79. 188. 138. 186. 141.
 119. 180. 155.  40. 113. 174. 106. 108.  29. 199. 144. 185.  54. 192.
 187. 109. 163.  46.  77.  47.  48. 200. 196. 162.  27. 157.  25.  24.
  94. 102. 156. 146.  20. 143. 115. 278. 197. 160. 100. 210.  18.  93.
 132.  13. 145.  89. 191. 219. 151.  49. 124.  23. 224. 198. 133.  42.
  61. 178.  21. 148. 166.  81. 129.  78. 165. 182.  43. 112.  22. 220.
 139.  30. 205.  63. 164. 127.  85. 131. 177. 270. 153. 114. 214.  55.
 181. 149. 104. 276.  59.  74. 175. 126. 176. 207. 222. 268.  86. 190.
 248.  73. 150. 125. 173. 271. 184.  95. 204.  36. 161. 240. 269. 231.
  35. 189. 233. 252. 238. 179. 242. 283. 203. 169. 159. 286. 194. 209.
 202. 226.  41. 243. 249.  75. 183.  64. 171.  76. 230.  53. 217.  44.
  51.  50. 245. 256. 218. 247. 290. 239. 221. 216.  52. 215. 241.  45.
 211. 281. 246. 227.  71. 195. 225. 294. 253. 232. 295. 223.]
---변수 : C6 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1246, 상태공간 일부: [  1.   4.   3. ... 877. 878. 887.]
---변수 : C7 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1070, 상태공간 일부: [  0.   1.   2. ...  69. 203.  83.]
---변수 : C8 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1141, 상태공간 일부: [  0.   1.   6. ... 497. 498.  68.]
---변수 : C9 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 168, 상태공간 일부: [  1.   0.   3.   2.  81.   4.  76. 129.   9.  64. 114.  17.   6.  79.
  14.   5.  97.  43.  13.   8. 133.  94.  88.  55.  54. 116.  86.  20.
  52.   7.  95.  73.  71.  12.  11.  15.  16.  26.  87.  10.  25.  72.
  34.  59.  61.  51.  22.  78.  19.  66.  62.  74.  63.  70.  57.  67.
  69. 103.  56.  41.  84.  68.  90.  96.  36.  47.  83.  65.  42.  49.
 102.  60.  82.  50.  29.  85. 111.  99. 110.  80.  27.  48.  45. 121.
 108.  44. 105.  30.  18.  58. 149. 150.  91. 115.  33. 122.  89.  75.
  77.  53.  46. 166. 147.  98.  23. 151.  28. 100.  24.  93. 137. 106.
 125. 138. 135. 152. 154.  32. 104.  38. 120. 109. 159. 124. 117.  92.
  40. 173.  35. 118. 112. 119. 161. 146. 132. 155. 134. 130. 123. 156.
 153. 160.  31. 101. 131. 139. 143. 163. 107. 141. 180. 145. 113. 164.
 127. 190. 136. 193. 142. 148. 192. 140.  37. 144.  39. 194. 170. 187.]
---변수 : C10 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1068, 상태공간 일부: [  0.   1.  93. ... 426.  44.  88.]
---변수 : C11 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1352, 상태공간 일부: [  2.   1.   5. ... 940. 941. 942.]
---변수 : C12 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1108, 상태공간 일부: [  0.   2.   1. ...  86. 131.  87.]
---변수 : C13 ---------------------------------------------------------------------
타입: float64, 결측 개수: 0, 상태공간 크기: 1473, 상태공간 일부: [  1.  25.  12. ... 373. 902. 280.]
---변수 : C14 ---------------------------------------------------------------------

### 범주형 변수 탐색

### 연속형 변수 탐색